.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    margin-top: 100px;
    border: 6px rgb(101, 215, 235) solid;
    background-image: url(../src/assets/background.png);
}

.snowcontainer {
    position: absolute;
    top: 15.5%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

body {
    min-height: 90vh;
    background: url("../src/assets/websiteBG.jpg");
    background-position-x: left;
    background-position-y: top;
    mix-blend-mode: color-burn;
}

.title {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

#instructions {
    background: white;
    border: 3px rgb(101, 215, 235) solid;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-radius: 3px;
    opacity: 75%;
    font-family: calibri;
    flex-direction: column;
    transform: translate(50%, 50%);
    margin: auto;
}

.hidden p{
    display: none;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}