.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    margin-top: 100px;
    border: 6px rgb(101, 215, 235) solid;
    background-image: url(../src/assets/background.png);
}

.snowcontainer {
    position: absolute;
    top: 15.5%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

body {
    min-height: 90vh;
    background: url("../src/assets/websiteBG.gif");
    background-size: cover;
    mix-blend-mode: color-burn;
}

.title{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}