.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    margin-top: 100px;
    border: 6px rgb(101, 215, 235) solid;
    background-image: url(../src/assets/background.png);
}

.snowcontainer {
    position: absolute;
    top: 11%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}